#page-content {
    width: 70%;
    margin: 0 10px 0 256px;

}

#page-content .content-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 800px;
}

.pager {
    margin-top: auto;
}
